<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 | NOT FOUND</title>
    <%- include('../layouts/css') %>
    <style>
    .container {
        display: flex;
        justify-content: center; /* Menyusun secara horizontal */
        align-items: center; /* Menyusun secara vertikal */
        height: 100vh; /* Mengatur tinggi container menjadi tinggi viewport */
        text-align: center; /* Memastikan teks di dalam container rata tengah */
    }
    </style>
    
  </head>
  <body>
    <div class="container">
      <h1>404 | NOT FOUND</h1>
    </div>
    <%- include('../layouts/script') %>
   
  </body>
</html>
